:root {
    --blue: rgb(217,94,-38); /* inverted from #007bff */
    --indigo: rgb(115,201,-25); /* inverted from #6610f2 */
    --purple: rgb(106,151,24); /* inverted from #6f42c1 */
    --pink: rgb(-15,155,77); /* inverted from #e83e8c */
    --red: rgb(-3,164,148); /* inverted from #dc3545 */
    --orange: rgb(-36,91,197); /* inverted from #fd7e14 */
    --yellow: rgb(-38,24,210); /* inverted from #ffc107 */
    --green: rgb(177,50,148); /* inverted from #28a745 */
    --teal: rgb(185,16,66); /* inverted from #20c997 */
    --cyan: rgb(194,55,33); /* inverted from #17a2b8 */
    --white: rgb(-38,-38,-38); /* inverted from  #ffffff */
    --gray: rgb(109,100,92); /* inverted from #6c757d */
    --gray-dark: rgb(165,159,153); /* inverted from #343a40 */
    /*--primary: rgb(217,94,-38); !* inverted from #007bff *!*/
    --secondary: rgb(109,100,92); /* inverted from #6c757d */
    --success: rgb(177,50,148); /* inverted from #28a745 */
    --info: rgb(194,55,33); /* inverted from #17a2b8 */
    --warning: rgb(-38,24,210); /* inverted from #ffc107 */
    --danger: rgb(-3,164,148); /* inverted from #dc3545 */
    --light: rgb(-31,-32,-33); /* inverted from #f8f9fa */
    --dark: rgb(165,159,153); /* inverted from #343a40 */
    --grey900: rgb(183,183,183); /* inverted from  #222222 */
    --grey800: rgb(158,158,158); /* inverted from  #3B3B3B */
    --grey700: rgb(136,136,136); /* inverted from  #515151 */
    --grey600: rgb(119,119,119); /* inverted from  #626262 */
    --grey500: rgb(91,91,91); /* inverted from  #7E7E7E */
    --grey400: rgb(59,59,59); /* inverted from  #9E9E9E */
    --grey300: rgb(40,40,40); /* inverted from  #B1B1B1 */
    --grey200: rgb(10,10,10); /* inverted from  #CFCFCF */
    --grey100: rgb(-8,-8,-8); /* inverted from  #E1E1E1 */
    --grey000: rgb(-30,-30,-30); /* inverted from  #F7F7F7 */
    /*--primary900: rgb(217,184,128); !* inverted from  #002159 *!*/
    /*--primary800: rgb(216,166,92); !* inverted from  #01337D *!*/
    /*--primary700: rgb(214,149,59); !* inverted from  #03449E *!*/
    /*--primary600: rgb(212,135,36); !* inverted from  #0552B5 *!*/
    /*--primary500: rgb(208,114,7); !* inverted from  #0967D2 *!*/
    /*--primary400: rgb(184,83,-18); !* inverted from  #2186EB *!*/
    /*--primary300: rgb(146,54,-26); !* inverted from  #47A3F3 *!*/
    /*--primary200: rgb(93,21,-33); !* inverted from  #7CC4FA *!*/
    /*--primary100: rgb(31,-10,-38); !* inverted from  #BAE3FF *!*/
    /*--primary000: rgb(-13,-29,-38); !* inverted from  #E6F6FF *!*/
    --danger900: rgb(120,214,195); /* inverted from  #610316 */
    --danger800: rgb(79,213,191); /* inverted from  #8A041A */
    --danger700: rgb(46,208,187); /* inverted from  #AB091E */
    --danger600: rgb(10,200,181); /* inverted from  #CF1124 */
    --danger500: rgb(-8,172,160); /* inverted from  #E12D39 */
    --danger400: rgb(-22,139,139); /* inverted from  #EF4E4E */
    --danger300: rgb(-31,111,111); /* inverted from  #F86A6A */
    --danger200: rgb(-38,62,62); /* inverted from  #FF9B9B */
    --danger100: rgb(-38,28,28); /* inverted from  #FFBDBD */
    --danger000: rgb(-38,-10,-10); /* inverted from  #FFE3E3 */
    --primary-background-color: rgb(-38,-38,-38); /* inverted from  #FFFFFF */
    --primary-text-color: rgb(217,217,217); /* inverted from  #000000 */
    --selected-background-color: rgb(217,42,-19); /* inverted from  #00afec */
    --selected-text-color: rgb(-38,-38,-38); /* inverted from  #FFFFFF */

}
